body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.HomePage {
  /* width: 100vw; */
  height: 100vh;
  background-image: url("Images/welcom5.jpg");
  position: relative;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  /* transform: rotate(90deg); */
}

.Content {
  text-align: center;
}

/* Keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Styling for the animated text */
.Content h2 {
  overflow: hidden;
  font-size: 2em;
  color: #fff;
  border-right: 0.15em solid orange; /* Adjust the color and thickness of the typing cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em; /* Adjust the letter spacing */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Keyframes for the blinking cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: #fff;
  }
  50% {
    border-color: orange;
  }
}

/* Styling for the cursor */
.Content h2 .typed-text {
  display: inline-block;
}

.Content h1 {
  font-size: 60px;
  font-family: open-sans;
  color: #fff;
  font-weight: 900px;
  text-shadow: #010607;
  /* -webkit-text-stroke: 1px #000; */
  /* background-color: rgb(0, 0, 0); */
  /* -webkit-background-clip: text; */
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.bn53 {
  background: #fff;
  padding: 7px;
  width: 200px;
  height: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  border: none;
  color: chocolate;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

/* Wedding card CSS */
.cardImage {
  /* width: 100vw; */
  height: 100vh;
  background-image: url("Images/blueBG.jpg");
  position: relative;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #fff;
  /* transform: rotate(90deg); */
}

.card-Content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Add background or other styling */
}

.content-body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  /* margin-bottom: 60%; */
  /* Adjust spacing, font sizes, and other styles as needed */
}

/* Example of styling individual elements */
.content-body h2 {
  font-size: 2em;
  margin: 10px 0;
}

.content-body h2 {
  color: #e6a817;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.content-body {
  /* Your other styles */
}

.typing-animation {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid #e6a817;
  margin-right: -2px;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    /* border-color: #e6a817; */
  }
}

/* Media query for Mobile device */
@media (max-width: 768px) {
  .HomePage {
    height: 100vh;
    background-image: url("Images/ele.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .Content {
    /* margin-top: 20%; */
    text-align: center;
    color: #3ab09e;
  }

  .Content h2 {
    font-size: 1.5em;
    color: #3ab09e;
    font-family: "Times New Roman", Times, serif;
  }

  .Content h1 {
    font-size: 2em;
    color: #3ab09e;
    font-family: "Times New Roman", Times, serif;
    /* margin-bottom: 50%; */

    /* font-family: open-sans;
    text-decoration: wavy;
    color: #3ab09e;
     -webkit-text-stroke: 1px rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite; */
  }

  .bn53 {
    padding: 7px;
    width: 200px;
    font-size: 1.2rem;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: bn53bounce 4s infinite;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #3ab09e;
    margin-top: 10%;
  }

  @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }

    10% {
      transform: scale(1);
    }

    15% {
      transform: scale(1);
    }

    20% {
      transform: scale(1) rotate(-5deg);
    }

    25% {
      transform: scale(1) rotate(5deg);
    }

    30% {
      transform: scale(1) rotate(-3deg);
    }

    35% {
      transform: scale(1) rotate(2deg);
    }

    40% {
      transform: scale(1) rotate(0);
    }
  }

  .cardImage {
    height: 100vh;
    background-image: url("Images/download1.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #fff;
  }

  .card-Content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* Add background or other styling */
  }

  .content-body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 30%;
    /* Adjust spacing, font sizes, and other styles as needed */
  }

  /* Example of styling individual elements */
  .content-body h2 {
    font-size: 2em;
    margin: 10px 0;
  }
}
